.main-session {
    background-color: #11BFA5;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #C7109F;
}

.main-session .main-title {
    margin-bottom: 60px;
}

.main-session.-bgBlack {
    background-color: #000;
}

.main-session.-bgFirst {
    background-color:#11BFA5
}

.main-session.-bgSecond {
    background-color:#C7109F
}

.main-session.-bdBlack {
    border-bottom: 10px solid #000;
}

.main-session.-bdFirst {
    border-bottom: 10px solid #11BFA5;
}

.main-session.-bdSecond {
    border-bottom: 10px solid #C7109F;
}